---
import { marked } from "marked";
import { getEventBySlug } from "../../lib/data/sanity/events";
import EventSidebar from "../../components/EventSidebar.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const { slug } = Astro.params;

if (!slug) {
  return Astro.redirect("/404");
}

const event = await getEventBySlug(slug);

if (!event) {
  return Astro.redirect("/404");
}

const body = `# ${event.title}\n\n${event.body ?? "Mer informasjon kommer snart"}`;

const content = await marked.parse(body);
---

<BaseLayout title={event.title}>
  <main class="flex flex-col-reverse gap-8 md:flex-row">
    <div class="h-fit w-full rounded-xl border-2 bg-background p-6 shadow-xl">
      <article
        class="prose font-sans md:prose-lg prose-h1:text-3xl md:prose-h1:text-4xl"
        set:html={content}
      />
    </div>

    <EventSidebar event={event} />
  </main>
</BaseLayout>
