---
import type { GetEventBySlugQueryResult } from "../../sanity.types";
import { time } from "../lib/date";

type Props = {
  event: Exclude<GetEventBySlugQueryResult, "null">;
};

const { event } = Astro.props;

if (!event) {
  throw new Error("Event not found");
}
---

<aside class="w-full space-y-4 md:max-w-[350px]">
  {
    event?.isPrivate && (
      <div class="rounded-xl border-2 bg-red-500 p-4 text-white shadow-xl">
        <p class="text-center font-medium">Dette arrangementet er privat</p>
      </div>
    )
  }

  <div class="-full h-fit rounded-xl border-2 bg-background p-6 shadow-xl">
    <ul class="space-y-8">
      <li>
        <h3 class="font-mono text-lg font-medium">Tidspunkt:</h3>
        <p>Fra {time(event.start)} til {time(event.end)}</p>
      </li>

      {
        event.registrationLink && (
          <li>
            <a
              class="flex h-10 items-center justify-center rounded border-2 bg-primary px-4 py-2 font-medium transition-colors hover:bg-primary-light"
              href={event.registrationLink}
            >
              Lenke til påmelding
            </a>
          </li>
        )
      }
    </ul>
  </div>
</aside>
