---
import type { Happening } from "../lib/data/sanity/events";
import { formatDate } from "../lib/date";

type Props = {
  event: Happening;
};

const { event } = Astro.props;

if (!event) {
  throw new Error("Event not found");
}
---

<aside class="w-full space-y-4 md:max-w-[350px]">
  <div class="-full h-fit rounded-xl border-2 bg-background p-6 shadow-xl">
    <ul class="space-y-8">
      <li>
        <h3 class="font-mono text-lg font-medium">Når?:</h3>
        <p>{formatDate(event.date)}</p>
      </li>

      {
        event.registrationStart && (
          <li>
            <a
              class="flex h-10 items-center justify-center rounded border-2 bg-primary px-4 py-2 font-medium transition-colors hover:bg-primary-light"
              href={`https://echo.uib.no/arrangementer/${event.slug}`}
            >
              Lenke til påmelding
            </a>
          </li>
        )
      }
    </ul>
  </div>
</aside>
