---
import { getUpcomingEvents } from "../lib/data/sanity/events";
import { formatDate } from "../lib/date";

const events = await getUpcomingEvents();
---

<div class="rounded-xl border-2 bg-background p-2">
  <h2 class="py-6 text-center font-mono text-3xl font-medium md:text-4xl">Arrangementer</h2>
  <ul class="divide-y-2 overflow-hidden">
    {
      events.length === 0 ? (
        <li>
          <p class="p-2 text-center text-lg font-medium">Ingen kommende arrangementer</p>
        </li>
      ) : (
        events.map(({ title, start, slug }) => (
          <li>
            <a href={`/arrangement/${slug}`} class="group text-xl">
              <div class="flex h-16 flex-col justify-center px-2 hover:bg-primary-light">
                <p class="group-hover:underline">{title}</p>

                <p class="font-mono text-sm font-medium text-gray-700">{formatDate(start)}</p>
              </div>
            </a>
          </li>
        ))
      )
    }
  </ul>
</div>
