---
import { getUpcomingEvents } from "../lib/data/sanity/events";
import { formatDate } from "../lib/date";

const events = await getUpcomingEvents().then((events) => events.slice(0, 6));
---

<div class="rounded-xl border bg-background p-2 shadow-md">
  <h2 class="py-6 text-center font-mono text-3xl font-medium md:text-4xl">Arrangementer</h2>

  <ul class="flex flex-col divide-y overflow-hidden">
    {
      events.length === 0 ? (
        <li>
          <p class="p-2 text-center text-lg font-medium">Ingen kommende arrangementer</p>
        </li>
      ) : (
        events.map(({ title, start, slug }) => (
          <li class="py-1">
            <a href={`/arrangement/${slug}`} class="group overflow-hidden text-xl">
              <div class="flex h-16 flex-col justify-center rounded-xl px-4 py-2 transition-all hover:bg-primary-light">
                <p class="group-hover:underline">{title}</p>

                <p class="font-mono text-sm font-medium text-gray-700">{formatDate(start)}</p>
              </div>
            </a>
          </li>
        ))
      )
    }
  </ul>
</div>
