@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--background: #f5f5f5;
	--foreground: #262626;

	--primary: #1fa7b2;
	--primary-light: #8fd3d9;
	--primary-dark: #1a8f98;

	--secondary: #feeabb;
	--secondary-light: #fff7e6;
	--secondary-dark: #fee8b4;

	--card: #ffffff;
	--card-muted: #f9fafb;

	--muted: #eeeeee;

	--border: #c4c4c4;
}

.dark {
	--background: #0f172a;
	--foreground: #e2e8f0;

	--primary: #14747c;
	--primary-light: #1fa7b2;
	--primary-dark: #0f5157;

	--secondary: #feeabb;
	--secondary-light: #fff7e6;
	--secondary-dark: #fee8b4;

	--card: #1e293b;
	--card-muted: #334155;

	--muted: #1e293b;

	--border: #475569;
}

@theme inline {
	--font-sans: 'Ubuntu', sans-serif;
	--font-mono: 'IBM Plex Mono', monospace;

	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-primary: var(--primary);
	--color-primary-light: var(--primary-light);
	--color-primary-dark: var(--primary-dark);

	--color-secondary: var(--secondary);
	--color-secondary-light: var(--secondary-light);
	--color-secondary-dark: var(--secondary-dark);

	--color-muted: var(--muted);

	--color-border: var(--border);
}

@layer base {
	* {
		@apply border-border box-border min-w-0;
	}

	html,
	body {
		@apply m-0 p-0 antialiased;
	}

	html {
		font-size: 16px;
	}

	body {
		background-color: var(--background);
		color: var(--foreground);
		font-size: 1rem;
		line-height: 1.5;
	}

	/* Disable color transitions when theme is changing */
	.disable-transitions *,
	.disable-transitions *::before,
	.disable-transitions *::after {
		transition: none !important;
	}
}
