# --------------------------------------------------------
# Feide Auth
#
# OAuth2 Client ID, Secret and Redirect URI for Feide authentication
#
# These can be obtained from the Feide Kundeportal: https://kunde.feide.no/.
# If you don't have access to the Feide Kundeportal, you can request access
# or keys from the Webkom team.
# --------------------------------------------------------

FEIDE_CLIENT_ID=
FEIDE_CLIENT_SECRET=
FEIDE_REDIRECT_URI="https://localhost:5173/auth/feide/callback"



# --------------------------------------------------------
# Slack
#
# Slack Verification Token and Channel ID for posting notifications
# --------------------------------------------------------

SLACK_VERIFICATION_TOKEN=""
SLACK_CHANNEL_ID=""



# --------------------------------------------------------
# Web Push Notifications (VAPID)
#
# Generate new keys with: npx web-push generate-vapid-keys
# --------------------------------------------------------

PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:web@programmerbar.no



# --------------------------------------------------------
# GitHub
#
# Just the SHA to display the current version
# --------------------------------------------------------
PUBLIC_GITHUB_SHA="development"



# --------------------------------------------------------
# Cloudflare Turnstile
#
# Site key and secret key for Cloudflare Turnstile CAPTCHA
# Values for testing can be found at:
# https://developers.cloudflare.com/turnstile/troubleshooting/testing/
# --------------------------------------------------------
PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY=1x00000000000000000000AA
CLOUDFLARE_TURNSTILE_SITE_SECRET=1x0000000000000000000000000000000AA
