---
import { Header } from "../components/Header";
import Footer from "../components/Footer.astro";
import CommonHead from "../components/CommonHead.astro";

type Props = {
  title?: string;
  description?: string;
};

const { title, description } = Astro.props;
---

<html lang="no">
  <head>
    <CommonHead title={title} description={description} />
  </head>
  <body>
    <div class="flex min-h-screen flex-col bg-[url('/circuit-board.svg')]">
      <Header client:load />

      <div class="mx-auto w-full max-w-7xl flex-1 px-4">
        <slot />
      </div>

      <Footer />
    </div>
  </body>
</html>
