---
import CommonHead from "../components/CommonHead.astro";

type Props = {
  title?: string;
  description?: string;
};

const { title, description } = Astro.props;
---

<html lang="no">
  <head>
    <CommonHead title={title} description={description} />
  </head>
  <body>
    <slot />
  </body>
</html>
